﻿
body { 
	color: black;
	background-color: white;
    /*text-align: left;*/
	width: 1244px;
	font-family: Arial;
    margin: 50px;

}

#addimg {
    margin: 12px 0
}

textarea {
    resize: none;
    overflow-y: scroll;
}

#centerh {
    text-align: center;
}